body {
    margin: 0; 
    background: linear-gradient(to right, #6B4E71, #53687E)
}

.App {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.calc-wrapper {
    background-color: linear-gradient(to right, #6B4E71, #53687E);
    width: 400px; 
    border-radius: 25px; 
}

.row {
    display: flex; 
}